<a href="https://colab.research.google.com/github/Joppan002/BA-with-Python-/blob/main/HR%20Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df=pd.read_csv("/content/HRDataset_v14.csv")

In [5]:

df.Position.count()

311

In [6]:
df.loc[df['Position']=='Production Technician I'].EmpID.count()

137

In [7]:
df.loc[df['Gender']=='Male'].EmpID.count()

193

In [8]:
df.loc[df['ManagerName']=='Michael Albert'].Employee_Name

0         Adinolfi, Wilson  K
14              Barton, Nader
23             Blount, Dianna
41           Chace, Beatrice
58          Crimmings,   Jean
83             Erilus, Angela
84          Estremera, Miguel
102           Gentry, Mildred
122       Handschiegl, Joanne
129    Homberger, Adrienne  J
143           Johnson, George
148           Keatts, Kramer
168         Linares, Marilyn
171              Lundy, Susan
186        Medeiros, Jennifer
195         Moumanil, Maliki
209             Owad, Clinton
229            Rarrick, Quinn
247             Sadki, Nore
256          Sloan, Constance
272         Sullivan, Timothy
294      Von Massenbach, Anna
Name: Employee_Name, dtype: object

In [9]:

df.loc[df['EmploymentStatus']=='Active'].Employee_Name

0      Adinolfi, Wilson  K
3             Alagbe,Trina
5        Anderson, Linda
6          Andreola, Colby
7              Athwal, Sam
              ...
305          Wolk, Hang  T
306         Woodson, Jason
308       Zamora, Jennifer
309            Zhou, Julia
310          Zima, Colleen
Name: Employee_Name, Length: 207, dtype: object

In [10]:

df.loc[(df['EmploymentStatus']=='Active') & (df['MaritalDesc']=='Married')].Employee_Name

3           Alagbe,Trina
16      Beak, Kimberly
22         Billis, Helen
26     Boutwell, Bonalyn
29            Brown, Mia
             ...
271     Sullivan, Kissy
272    Sullivan, Timothy
275         Tannen, Biff
287        Turpin, Jumil
288      Valentin,Jackie
Name: Employee_Name, Length: 77, dtype: object

In [11]:
df.loc[(df['EmploymentStatus']=='Active') & (df['Salary']<60000)].Employee_Name

5         Anderson, Linda
7               Athwal, Sam
8          Bachiochi, Linda
9        Bacong, Alejandro
13     Barone, Francesco  A
               ...
278        Terry, Sharlene
281       Tippett, Jeanette
288         Valentin,Jackie
291        Villanueva, Noah
310           Zima, Colleen
Name: Employee_Name, Length: 72, dtype: object