In [2]:
x=int(input('enter first no'))
y=int(input('enter second no'))

enter first no4
enter second no8

In [6]:
P=int(input('Enter principal amount:'))
N=int(input('Enter the no of years:'))
R=int(input('enter the rate:'))
I=P*N*R/100
T=P+I
print('Interst amount',I)
print('total amount',T)

Enter principal amount:10000
Enter the no of years:5
enter the rate:8
Interst amount 4000.0
total amount 14000.0

In [7]:
x=int(input('enter your marks'))
if x>50 :
  print('pass')
if x<50 :
  print('fail')

enter your marks52
pass

In [8]:
x=int(input('Enter your SALARY'))
if x>=250000 :
  print('You are TAXABLE')
if x<250000 :
  print('Your are not TAXABLE')

Enter your SALARY200000
Your are not TAXABLE

In [9]:
x=int(input('Enter your SALARY'))
if x>=250000 :
  print('You are TAXABLE')
  T=print('Tax Amount',x*10/100)
if x<250000 :
  print('Your are not TAXABLE')

Enter your SALARY1000000
You are TAXABLE
Tax Amount 100000.0

In [13]:
x=int(input("enter the salary"))
z=250000
if x>=250000:
  print("you are taxable")
  t=print('tax amount',(x-z)*10/100)
if x<250000:
  print("you are not taxable")

enter the salary300000
you are taxable
tax amount 5000.0

In [15]:
x=int(input("enter the salary"))
z=250000
if x>=250000 and x<500000:
  print("you are taxable")
  t=print('tax amount',(x-z)*10/100)
if x>500000:
  print('your are taxable')
  t=print('tax amount',(x-z)*20/100) 
if x<250000:
  print("you are not taxable")

enter the salary300000
you are taxable
tax amount 5000.0