<a href="https://colab.research.google.com/github/Joppan002/BA-with-Python-/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=["John","Mary","David","Adam"]
print(x)

['John', 'Mary', 'David', 'Adam']

In [2]:
x=["John","Mary","David","Adam"]
type(x)

list

In [8]:
x=["Joe","20","9017","05-10-2002","EKM"]
print(x)

['Joe', '20', '9017', '05-10-2002', 'EKM']

In [9]:
x[0]

'Joe'

In [10]:
x[0:1]

['Joe']

In [11]:
x[1:1]

[]

In [15]:
x=[1,2,3,4,5,6,7,8,9,10]

In [19]:
x[-3:]

[8, 9, 10]

In [22]:
x[4:]

[10, 6, 7, 8, 9, 10]

In [26]:
x=["John","Mary","David","Adam"]

In [27]:
x[2]="Joe"

In [28]:
x

['John', 'Mary', 'Joe', 'Adam']

In [29]:
x=[3,6,9,10]
x.append("Joe")

In [30]:
x

[3, 6, 9, 10, 'Joe']

In [35]:
x=0
lst=[]
while x < 4: 
  y=input("Enter a name :")
  print(y)
  lst.append(y)
  x=x+1
print(lst)

Enter a name :jamal 1
jamal 1
Enter a name :jamal 2
jamal 2
Enter a name :aikee
aikee
Enter a name :pu myzam
pu myzam
['jamal 1', 'jamal 2', 'aikee', 'pu myzam']

In [36]:
x=["John","Mary","David","Adam"]
y=['A','B','C']
x.extend(y)
x

['John', 'Mary', 'David', 'Adam', 'A', 'B', 'C']

In [37]:
x=['abc',5,7,9,10,5,22]
x.count(5)

2

In [39]:
x=["John","Mary","David","Adam"]
x[1:3]=["Simpy","Jamal"]
print(x)

['John', 'Simpy', 'Jamal', 'Adam']

In [40]:
x.insert(2,"James")
x

['John', 'Simpy', 'James', 'Jamal', 'Adam']

In [42]:
x=["John","Mary","David","Adam"]
x.remove("Mary")
print(x)

['John', 'David', 'Adam']

In [45]:
x=["John","Mary","David","Adam"]
del x[-1]
print(x)

['John', 'Mary', 'David']

In [46]:
x=["John","Mary","David","Adam"]
del x[-2]
print(x)

['John', 'Mary', 'Adam']