<a href="https://colab.research.google.com/github/Joppan002/BA-with-Python-/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [6]:
x=0
while x<20:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
x=10
while x>1:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2

In [8]:
 x=0
 a=0
 while x<10:
   a=a+x
   x=x+1
   print(a)

0
1
3
6
10
15
21
28
36
45

In [11]:
x=0
for x in range(100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [17]:
x=0
for x in range (101):
x=x+1
print(x)

IndentationError: ignored

In [19]:
for x in range(100):
  if x==5:
    break;
    print(x)

In [21]:
x="Joe Siby"
for a in x:
  print(a)

J
o
e

S
i
b
y